.body{
    font-family: arial;
    background-color: #ddd;
}

.menu-group-lv1{
    float: left;
    list-style:none;
    margin-right: 80px;
    margin-top: 40px;
}

.menu-group{
    padding-left: 10px;
}

a{
    font-size: 16px;
    color: #ca33c4;
    font-weight: bold;
    text-decoration: none;
}

a:hover{
    color: #0000ff;
    text-decoration: none;
}

.signin-group{
    margin-top: 30px;
}

.btn-default{
    background-color: #ca33c4;
    color: #fff;
    font-size: 16px;
}

.btn-default:hover{
    background-color: #0000ff;
    color: #fff;
}

.glyphicon-search{
    font-size: 30px;
}

.search-group{
    padding-top: 32px;
    float:  left;
    padding-right: 10px;
}

.body-header-text-1{
    font-family: Papyrus;
    font-size: 18px;
    padding-top: 150px;
    font-weight: lighter;
}

.body-header-text-2{
    font-family: Arial black;
    font-size: 70px;
    font-weight: bold;
}

.btn-primary{
    color: black;
    background-color: #fff;
    font-weight: bold;
    font-size: 18px;
}

.btn-primary:hover{
    background-color: #0000ff;
    color: #fff;
}

.btn-success{
    font-size: 18px;
    font-weight: bold;
}

.btn-success:hover{
    background-color: #0000ff;
    color: #fff;
}

.btn-join{
    border: 2px solid #ca33c4;
    background-color: #fff;
    width: 330px;
    height: 45px;
    font-size: 18px;
    color: #ca33c4;
    font-weight: bold;
}

.btn-join:hover{
    color: #0000ff;
    border: 2px solid #0000ff;
}

.join-group-1{
    padding-bottom: 10px;
}

.btn-detail{
    border: 1px solid #fff;
    background-color: #fff;
    width: 330px;
    height: 45px;
    font-size: 18px;
    color: #ca33c4;
    font-weight: bold;
}

.btn-detail:hover{
    color: #0000ff;
}


.web-footer-1{
    background-color: #262b30;
    padding-top: 30px;
    margin-top: 20px;
    height: 330px;

}

.title-footer{
    color: #999;
}

.title-footer-1{
    color: #fff;
    padding-left: 18px;
    font-size: 16px;
}

.image-logo-footer{
    margin-top: -10px;
    padding-bottom: 25px;
}

.menu-footer{
    float: none;
}

.list-group-item-1:hover{
    color: #fff;
}

.list-group-item-1{
    color: #ababab;
    font-weight: lighter;
}

.list-group-item-2{
    margin-bottom: 25px;
    margin-left: -20px;
    margin-top: 28px;
}

.title-footer-2{
    color: #fff;
    padding-left: 18px;
    font-size: 16px;
    padding-bottom: 40px;

}

.app-folow{
    padding-top: 30px;
}

.web-footer-2{
    height: 90px;
    background-color: #192027;
}

.copyright-text{
    line-height: 26px;
    font-size: 15px;
    color: #999;
    padding-left: 465px;
    padding-top: 35px;
}







