.login-1{
	width: 340px;
	text-align: center;
    margin: 25px 480px;
    width: 340px;
    padding-bottom: 20px;
}

.login-box{
	padding-top: 40px;
    margin-top: 40px;
    text-align: left;
    border-top: 1px dotted #de00a5;
 }

.form-group{
    padding-left: 14px;
    padding-top: 20px;
    margin-top: -10px;
    padding-bottom: 20px;
}

.form-control{
	width: 340px;
	border: 1px solid #de00a5;

}

.checkbox{
	margin-left: -74px;
}

.forgot-password{
	text-align: right;
    font-style: italic;
    margin-top: -20px;
}

.sub-login{
	color: #de00a5;
    font-weight: lighter;
}

.sub-login:hover{
	color: #0000ff;
}

.btn.btn-default.signin:hover{
    background-color: #0000ff;
}

